<div class="wrapper">
  <div class="content">
    <button mat-stroked-button
      (click)="measur()">
      StartMeasuring!
    </button>
    <div class="average">
      <span class="label1">PureJSAverage1 : </span>
      <span class="value">{{pureJSAve}} (ms)</span>
    </div>
    <div class="average">
      <span class="label2">PureJSAverage2 : </span>
      <span class="value">{{pureJSAve2}} (ms)</span>
    </div>
    <div class="average">
      <span class="label3">LodashAverage  : </span>
      <span class="value">{{lodashAve}} (ms)</span>
    </div>
  </div>
  <ngx-charts-line-chart
    [view]="view"
    [results]="inputData"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    xAxisLabel="times"
    yAxisLabel="(ms)">
  </ngx-charts-line-chart>
</div>